<nav>
    <div class="nav-wrapper">
        <ul class="flex-center">
          <li><a href="https://github.com/shawkitajima"  target="_blank"><img class="circles" src="../images/GitHub-Mark-Light-32px.png"></a></li>
          <li><a href="https://medium.com/@shawkitajima" target="_blank"><img class="circles" src="../images/Monogram.png"></a></li>
          <li><a href="https://www.linkedin.com/in/shaw-kitajima/" target="_blank"><img class="square" src="../images/LI-In-Bug.png"></a></li>
          <li><a class="black btn waves-effect waves-teal" href="/download">Resume</a></li>
  </div>
</nav>
<script type="text/javascript" src="../javascripts/app.js"></script>
</body>
</html>