<nav class="nav-center" role="navigation">
    <div class="nav-wrapper container">
        <ul>
            <li><a href="https://github.com/shawkitajima"  target="_blank"><img class="circles" src="../images/GitHub-Mark-Light-32px.png"></a></li>
            <li><a href="https://medium.com/@shawkitajima" target="_blank"><img class="circles" src="../images/Monogram.png"></a></li>
            <li><a href="https://www.linkedin.com/in/shaw-kitajima/" target="_blank"><img class="square" src="../images/LI-In-Bug.png"></a></li>
        </ul>
    </div>
</nav>
</body>
</html>