<!DOCTYPE html>
<html>
  <head>
    <title>Shaw!</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo">Shaw Kitajima</a>
        <ul class="right">
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/github">Github</a></li>
        </ul>
  </div>
</nav>