<%- include('./partials/header') %>

<h3>Hello there!</h3>

<div class="about">
    <p>
        My name is Shaw Kitajima, and I am a software engineer. Prior to developing, I studied Economics at UCSD,
        interned at a private equity firm, and then worked in litigation. My first iteration of this site had a
        very beautiful essay detailing my life, but I was told it was too long. So, if you would like to read about how I 
        got to where I am today, please read my Medium stories linked 
        <a href="https://medium.com/@shawkitajima/from-no-stack-to-some-stack-introduction-a644d809b060">here</a>.
    </p>
    <p>
        I enjoy developing most when I am able to make ideas reality, and when I am able to teach other people what I
        know. At first, my primary focuses in programming was in automating data manipulation with Python using the Pandas and
        Numpy libraries. However, as I learned new technologies, I fell in love with developing web applications. My approach
        to programming relies strongly on laying down a foundation before writing code. Psuedocode and wireframes allow me to
        identify problems I may face before I write code that makes solving them harder. When I do get into trouble though,
        I get a lot of help from the developer tools and unit testing with Mocha and Chai.
    </p>
    <p>
        When I am not developing or playing video games, I enjoy blogging about my coding experiences. I have linked all of
        my publications right after this, so please take a peek if you would like see some mildly funny and informative articles
        about developing. Following my articles are my favorite GitHub projects, where the buttons will take you to the 
        fully deployed results.
    </p>
</div>

<h4>My Articles</h4>
<div class="collection with-header">        
    <% articles.forEach(function(article) { %>
        <a class="collection-item" href="<%=article.url%>" target="=_blank"><%=article.title%></a>
    <% }) %>
</div>

<h3>My favorite portfolio projects!</h3>

<div class="carousel carousel-slider center">
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/spotify.png">
                <span class="card-title" style="color:black">Bad Spotify Imitator</span>
                <a href="https://bad-spotify-imitator.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A MERN App that allows you to explore your spotify library and make community playlists</p>
                <p><a href="https://github.com/shawkitajima/MERN-Bad-Spotify-Imitator" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/wolfram-questions.png">
                <span class="card-title" style="color:black">Wolfram Alpha Q&A</span>
                <a href="https://wolfram-alpha-fun-questions.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A MERN App that let's you ask Wolfram Alpha questions, and keeps track of all answered questions</p>
                <p><a href="https://github.com/shawkitajima/Wolfram-Alpha-Fun-Questions" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/alphaevaluator.png">
                <span class="card-title" style="color:black">Alpha Evaulator</span>
                <a href="https://alphaevaluator.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A Django web app that allows you to watch public companies and test investments</p>
                <p><a href="https://github.com/shawkitajima/Alpha-Evaluator" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/home-page.png">
                <span class="card-title" style="color:black">League Stats Finder</span>
                <a href="https://league-stat-finder.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A Node and Express CRUD web application that tracks League of Legends players using the Riot API</p>
                <p><a href="https://github.com/shawkitajima/Project-2---League-Stat-Finder" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
            <div class="card">
                <div class="card-image">
                    <img src="../images/compliment-me.png">
                    <span class="card-title" style="color:black">Compliment Me</span>
                    <a href="https://oauth-compliment-me.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>The result of my follow-along <a href="https://medium.com/@shawkitajima/from-no-stack-to-some-stack-oauth-passport-and-some-men-46ffb16fa4cd" target="_blank">Medium</a> article to create a Node CRUD app with Oauth</p>
                    <p><a href="https://github.com/shawkitajima/my-oauth-medium-project" target="=_blank">Github</a></p>
                </div>
            </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/conway.png">
                <span class="card-title" style="color:black">Conway's Game of Life</span>
                <a href="https://shawkitajima.github.io/CodeRetreat-Conways-Game-Of-Life/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>The classic zero player game of Conway's Game of Life</p>
                <p><a href="https://github.com/shawkitajima/CodeRetreat-Conways-Game-Of-Life" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/battleship.png">
                <span class="card-title" style="color:black">Battleship</span>
                <a href="https://shawkitajima.github.io/Battleship/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>Player vs computer batteship game with a smarter than average computer. It does not cheat</p>
                <p><a href="https://github.com/shawkitajima/Battleship" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item black-text">
        <div class="card">
            <div class="card-image">
                <img src="../images/slots.png">
                <span class="card-title">Slots</span>
                <a href="https://shawkitajima.github.io/Slot-Machine-Game/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A ridiculously obnoxious game of slots. I hope you like Tom Jones</p>
                <p><a href="https://github.com/shawkitajima/Slot-Machine-Game" target="=_blank">Github</a></p>
            </div>
        </div>
    </div>
</div>
  
<%- include('./partials/footer') %>