<%- include('./partials/header') %>

<h3>Hello there!</h3>

<div class="about">
    <p>
        No, not General Kenobi. My name is Shaw Kitajima, and I am a software enginner! I was born in Tokyo, and moved to the United States at quite a young age.
        Then my professional life really began when I was a a junior in university, where, while pursuing an economics degree at UCSD, I started my internship with a private equity company called the 
        StepStone Group. My boss was an Excel spreadsheet. My job was to generate Excel spreadsheets. On my first day, my mentor flew through spreadsheets without
        touching the mouse. Having known Excel solely through Mac, I did not know that was possible. Naturally, I spent my first month endeavoring to be like him. 
        Alt-H-O-I? Alt-A-M? Alt-H-L-H-D-Tab-Tab-Down-Down-Enter? I thought I learned everything to know about Excel. Enter VBA. 
    </p>
    <p>
        VBA is the programming language of the Microsoft Office Suite. I was so excited to learn that I could potentially automate my tasks, that I likely spent
        much more time tinkering than doing my actual job. Eventually though, I figured out a way to get VBA to generate my spreadhseet analyses for me. It was
        so incredibly satisying to watch the computer blaze through a project that would have taken me 45 minutes in less than one. As an enterprising young 
        student though, I didn't really tell my superiors (after all, spreadsheets can't talk) about my replacement. So while VBA was doing my job, I listened
        to a lot of podcasts. You see, the summer of 2015 was the golden age of podcasts and a beautiful musical called Hamilton ("Wait for it" and "The Room
        Where It Happens" are my favorites). One of the podcasts that I loved was called "More Perfect", and it was about the Supreme Court. I became interested
        in law, and strangely, my grandmother's fortune teller predicted that I would be an international lawyer, so I decided I would pursue a job in litigation
        after university.
    </p>
    <p>
        Well, I managed to land a position in the legal department of a financial services company. I got to work in tandem with a very wise and intelligent
        lawyer who I joined in taking two cases to trial (and one other case with a different lawyer). Life in litigation was insane. I loved learning how
        to review discovery, draft motions, take depositions, and present cases at evidentiary hearings. Funnily enough, my fondest memories of working in 
        law were having 5AM - 2AM working days during trial. While I was in the weeklong arbitration of my second case at the end of January, 2019, I would
        have dinner with our lead attorney. Each night, our discussions would center on what I was going to do when I grew up. I was 24 at the time. By the
        time the arbitration finished, we had boiled down the choices to: further studies of economics, becoming a lawyer, or becoming a software developer.
    </p>
    <p>
        So why was software developement in the picture? Well, aside from League of Legends, my hobby was to play around with Code Academy and Udemy. Having 
        worked with VBA, and actually having a quarter of introductory C++ under my belt, Python came by rather easily to me, and I enjoyed modeling the Monty Hall problem. 
        Life in litigation was also extreme in that sense that when it rained, it poured, and droughts could be just as severe. I spent some of those dull times
        helping the financial advisory firm I worked for automate a variety of tasks. A lot of these tasks involved manipulating csv files using the Pandas
        and Numpy libraries, but I eventually wrote a series of scripts that used the Twilio and Watson APIs to call telephone directories, dial extensions to
        search for employees, record the responses, convert the speech to text, and then use Regular Expressons to parse out the phone numbers and the employees'
        names together. I enjoyed the problem solving aspect of writing code.
    </p>
    <p>
        But I brooded over my decision for about nine months. Economics withdrew from the race. I took another case to trial. I solved a lot of LSAT logic problems. My Udemy course shifted to Node and React. In August of 2019, I saw that a coding bootcamp called General Assembly (quite highly
        ranked on seemingly reputable sites called coursereport and switchup), was opening a cohort in San Diego for something close to full stack development.
        I decided to apply for it and was miraculously accepted. I suppose it was at that point that I realized that I really wanted to become a startup 
        billionaire through tech. So off I went General Assembly.  
    </p>
    <p>
        I definitely made the right decision. Web development is fun. When developing, like Thanos (I actually don't like superhero movies that much, so I only know
        this quote from memes), reality can be whatever I want it to be. As you can probably tell by now, I also like writing. So please take a look at the
        articles I have published on <a href="https://medium.com/@shawkitajima" target="_blank" >Medium</a>. Please also take a peek at my favorite Github projects
        <a href="/github">here</a> as well!
    </p>
</div>
    
<%- include('./partials/footer') %>