<%- include('./partials/header') %>

<% articles.forEach(function(article) { %>
    <p><a href="<%=article.url%>" target="_blank"><%=article.title%></a></p>
<% }) %>

<%- include('./partials/footer') %>
