<%- include('./partials/header') %>

<h1>Here are my favorite portfolio projects!</h1>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="../images/slots.png">
            <span class="card-title">Slots</span>
            <a href="https://shawkitajima.github.io/Slot-Machine-Game/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A ridiculously obnoxious game of slots. I hope you like Tom Jones</p>
                <p><a href="https://github.com/shawkitajima/Slot-Machine-Game">Github</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="../images/battleship.png">
            <span class="card-title" style="color:black">Battleship</span>
            <a href="https://shawkitajima.github.io/Battleship/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>Player vs computer batteship game with computer a smarter than average computer. It does not cheat.</p>
                <p><a href="https://github.com/shawkitajima/Battleship">Github</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="../images/conway.png">
            <span class="card-title" style="color:black">Conway's Game of Life</span>
            <a href="https://shawkitajima.github.io/CodeRetreat-Conways-Game-Of-Life/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>The classic zero player game of Conway's Game of Life</p>
                <p><a href="https://github.com/shawkitajima/CodeRetreat-Conways-Game-Of-Life">Github</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="../images/compliment-me.png">
            <span class="card-title" style="color:black">Compliment Me</span>
            <a href="https://oauth-compliment-me.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>The result of my follow-along <a href="https://medium.com/@shawkitajima/from-no-stack-to-some-stack-oauth-passport-and-some-men-46ffb16fa4cd" target="_blank">Medium</a> article to create a Node CRUD app with Oauth</p>
                <p><a href="https://github.com/shawkitajima/my-oauth-medium-project">Github</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="../images/home-page.png">
            <span class="card-title" style="color:black">League Stats Finder</span>
            <a href="https://league-stat-finder.herokuapp.com/" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>A Node and Express CRUD web application that tracks League of Legends players</p>
                <p><a href="https://github.com/shawkitajima/Project-2---League-Stat-Finder">Github</a></p>
            </div>
        </div>
    </div>
</div>
  
<%- include('./partials/footer') %>